# See LICENSE file for copyright and license details.

root = true

[*]
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.cs]
indent_style = tab
indent_size = 8
max_line_length = 79
csharp_new_line_before_open_brace = methods
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_indent_switch_labels = false
csharp_indent_labels = flush_left
csharp_preserve_single_line_statements = false
dotnet_code_quality.enable_platform_analyzer_on_pre_net5_target = false

[*.json]
indent_style = space
indent_size = 2